@font-face {
    font-family: myFont;
    src: url(Font/Rubik-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: myFont, 'monospase';
}