@font-face {
    font-family: myFont;
    src: url(Font/Rubik-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: myFont, 'monospase';
}

#wrapper {
    background-color: rgb(44, 40, 40);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    border: 5px solid  rgb(255, 255, 255, 0.3);
    overflow: hidden;
}

#wrapper div {
    width: 100%;
}

/* Display */

#wrapper #displayWeather {
    height: 35vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#wrapper #displayWeather #currentWeather {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: none;
    animation: slideFromLeft 3s normal;
}

@keyframes slideFromLeft {
    from {
      margin-left: -80%;
    }
    to {
      margin-left: 0%;
    }
}

#locationCity {
    padding-left: 1em;
}

#wrapper #displayWeather #currentWeather #weather {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper #displayWeather #currentWeather #weather #temperature {
    width: fit-content;
}

#wrapper #displayWeather #currentWeather #weather img {
    width: 9em;
}

#wrapper #displayWeather #currentWeather #weather #deg {
    font-size: 3.5em;
}

#wrapper #displayWeather #currentWeather #weather #max_min {
    font-size: 2em;
}

#wrapper #displayWeather #currentTime {
    font-size: 2em;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
    animation: slideFromRight 3s normal;
    position: relative;
}

@keyframes slideFromRight {
    from {
      margin-left: 80%;
    }
    to {
      margin-left: 0;
    }
}

/* Search */

#wrapper #searchCity {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#wrapper #searchCity form {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5em;
}

#wrapper #searchCity form #search {
    padding: 0.3em;
    width: 20em;
    border: none;
    background-color: rgb(255, 255, 255, 0);
    border-bottom: 1px solid white;
    color:whitesmoke;
    font-size: 1.5em;
}

#wrongFormat {
    background-color: rgb(255, 255, 255, 0.3);
    width: 20vw;
    font-weight: 800;
    padding: 1em;
    color: tomato;
    text-align: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    position: absolute;
    top: -3.25em;
    display: none;
    border-bottom: 2px solid white;
}

#wrapper #searchCity form input:focus {
    outline: none;
}

#wrapper #searchCity form button {
    background-color: rgb(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

#wrapper #searchCity form button img {
    width: 3em;
}

#wrapper #searchCity form .star {
    width: 3em;
    margin-left: 0.5em;
    cursor: pointer;
}

/* Details */

#wrapper #detailsOfCity {
    height: 50vh;
    width: 96%;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
    margin: 0 auto;
    margin-top: 1.5em;
    border-radius: 2em;
    background-color: rgb(255, 255, 255, 0.4);
}

#wrapper #detailsOfCity .color {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: 1px solid white;
}

#wrapper #detailsOfCity .color:last-child {
    border: none;
}

#wrapper #detailsOfCity .color div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper #detailsOfCity .color #favTitle {
    text-align: center;
    font-size: 2em;
}

#wrapper #detailsOfCity .color #favs {
    width: 100%;
    height: 100%;
    padding: 2em;
}

#wrapper #detailsOfCity .color #favs li {
    text-align: center;
    padding: 0.4em 0;
    font-size: 1.5em;
    position: relative;
    border-radius: 1em;
    font-weight: 800;
}

#wrapper #detailsOfCity .color #favs li:hover {
    background-color: rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid white;
}

#wrapper #detailsOfCity .color #favs li:hover #x {
    display: inline;
}

.images {
    width: 3em;
}
.images:hover {
    transform: scale(1.2);
}
.humidity:hover {
    transform: scale(1.2);
}

#x {
    display: none;
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    cursor: pointer;
}

.favCityName {
    cursor: pointer;
}

.city {
    width: 1.2em;
}

.cityLeft {
    margin-right: 1em;
    animation: left ease-in-out 2s infinite;
}

@keyframes left {
    0% {
        margin-left: 1em;
    }
    100% {
        margin-right: 2em;
    }
}

.cityRight {
    margin-left: 1em;
    animation: right ease-in-out 2s infinite;
    
}

@keyframes right {
    0% {
        margin-right: 1em;
    }
    100% {
        margin-left: 2em;
    }
}

.humidity {
    width: 2.2em;
}
